<div>
    <h2>Hotel Activities</h2>
  
    <h3>Draft Bookings</h3>
    <div *ngIf="draftBookings && draftBookings.length > 0; else noDraftBookings">
      <table>
        <thead>
          <tr>
            <th>Booking ID</th>
            <th>User Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let booking of draftBookings">
            <td>{{ booking.id }}</td>
            <td>{{ booking.user.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noDraftBookings>
      <p>No draft bookings for this hotel.</p>
    </ng-template>
  
    <h3>Completed Bookings</h3>
    <div *ngIf="completedBookings && completedBookings.length > 0; else noCompletedBookings">
      <table>
        <thead>
          <tr>
            <th>Booking ID</th>
            <th>User Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let booking of completedBookings">
            <td>{{ booking.id }}</td>
            <td>{{ booking.user.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noCompletedBookings>
      <p>No completed bookings for this hotel.</p>
    </ng-template>
  </div>
  